body {
  font-family: Noto Sans, Segoe UI, Helvetica, sans-serif;
  font-size: 92%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: white;
  color: #232323;
  min-width: 400px;
}

input, select {
  font-size: inherit;
  font-family: inherit;
}

.title, .filters, th {
  background: #262626;
  color: white;
}

.title {
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}

.title > div {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

a, a:visited {
  color: #0067CE;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.button, .select-wrapper {
  border-radius: 2px;
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-right: 6px;
  min-width: 80px;
}

@media (min-width: 1150px) {
  .filters > a.button, .filters > .select-wrapper {
    margin-left: 12px;
    margin-right: 12px;
  }
}

a.button {
  background: #565656;
  color: white;
}

a.button.active, .select-wrapper, .horizontalBar {
  background: #2A81C9;
  color: white;
}

a.button:hover  {
  background: #6B6B6B;
  text-decoration: none;
}
a.button.active:hover, .select-wrapper:hover  {
  background: #4899DB;
  text-decoration: none;
}

a.button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.title a {
  color: inherit;
}

.title > div a {
  text-decoration: underline;
  text-decoration-color: #BCBCBC;
}

.title > div a:hover {
  text-decoration-color: white;
}

h1 {
  font-size: 230%;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h1 sup {
  font-size: 45%;
}

.select-wrapper {
  position: relative;
}

.select-wrapper select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  width: 100%;
  padding-left: 10px;
  padding-right: 28px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  background: inherit;
  color: inherit;
  cursor: pointer;
  border-radius: inherit;
}

.select-wrapper::after {
  content: " ";
  position: absolute;
  width: 8px;
  height: 8px;
  right: 9px;
  top: 8px;
  pointer-events: none;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

select:focus {
  outline: 0;
  border: 0;
}

body.showFocus *:focus {
  outline: 3px solid #EDDD00;
}

.filters {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 5px;
  font-size: 92%;
}

a.button.remove-button {
  background: none;
  padding: 5px;
  padding-top: 0;
  margin-top: -3px;
  margin-right: 0;
  min-width: 0;
  color: #8C8C8C;
  opacity: 0.8;
  font-size: 200%;
  font-weight: bold;
  vertical-align: top;
}

a.button.remove-button:hover {
  opacity: 1;
}

a.button.remove-button:after {
  content: "\00d7";
}

.filters a.button.remove-button {
  padding-top: 6px;
}

.button.remove-button > i {
  padding: 5px;
}

.filters > div:not(.showAllOptions) > a.button.extendedOption:not(.active) {
  display: none;
}
.filters > div.showAllOptions > a.button.showMore {
  display: none;
}

.sources {
  display: inline-block;
}

.sources ol {
  margin: 2px;
  text-align: left;
}

.chart-tile {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.chart-tile:not(.single) {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.chart-title {
  display: inline-block;
  padding: 3px;
  margin-right: 40px;
  font-size: 118%;
  white-space: nowrap;
}

.chart-tile .remove-button {
  position: absolute;
  right: 0;
}

.tab-buttons {
  margin-bottom: 5px;
}

.tab-buttons > * {
  display: inline-block;
  padding: 3px;
  margin-left: 8px;
  margin-right: 8px;
}

.tab-buttons > div {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  margin: 2px;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 1px solid #A8A8A8;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}

th {
  text-align: center;
  font-weight: normal;
  padding-top: 4px;
  padding-bottom: 4px;
}

td {
  text-align: left;
}

tr:hover {
  background: #FFF696;
}

.horizontalBar {
  height: 16px;
}

.NA {
  text-align: center;
  color: grey;
}

a.export {
  position: absolute;
  color: #232323;
  font-size: 80%;
  right: 0;
  bottom: -6px;
  cursor: pointer;
}
